@model MyFavoritePlaces.Models.PlaceCollectionItem

<div class="card">
	<img src="@Model.ImageUrl" alt="Photo of a place" style="width:100%">
	<div class="container">
		<div class="card-description">@Model.Description</div>
		<div class="card-date">@Model.Date</div>
	</div>
</div>